###  Data Type

In [1]:
1 +1

2

In [2]:
5/2

2.5

In [3]:
2 ** 4

16

In [5]:
#Module function
5%2

1

### Strings

In [6]:
# both "" and ' ' works.

In [7]:
num =12
name = 'Sam'

In [9]:
# String print format
'My name is {} and my name  is {}'.format(num,name)

'My name is 12 and my name  is Sam'

In [11]:
# String print format
'My name is {one} and my name  is {two}'.format(one = num, two = name)

'My name is 12 and my name  is Sam'

In [12]:
s = 'hello'

In [13]:
s[0]

'h'

In [14]:
s[0:] # starting at 0 and grab everything after

'hello'

In [15]:
s[:3] # 3 is exclusive

'hel'

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
my_list = ['a','b','c']

In [18]:
my_list.append('d')

In [19]:
my_list

['a', 'b', 'c', 'd']

In [20]:
my_list[0]

'a'

In [21]:
my_list[1:3]

['b', 'c']

In [22]:
my_list[0]

'a'

### Dictionary

In [23]:
d = {'key1':'value','key2':123}

### Tuple

In [24]:
t = (1,2,3)

In [27]:
# tuples are immutable while list are mutable. 
t[1] = 'new'

TypeError: 'tuple' object does not support item assignment

### Sets

In [31]:
s={1,1,1,2,3,3,3,3,3}

In [30]:
set([1,1,1,2,2,2,3,3,3,3,4])

{1, 2, 3, 4}

In [32]:
s.add(5)

In [33]:
s

{1, 2, 3, 5}

### if condition

### for loop

In [35]:
seq = [1,2,3,4,5]

In [36]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

### While loop

In [39]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [40]:
range(0,5)

range(0, 5)

In [41]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [42]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [45]:
## list comprehension
x = [1,2,3,4]
out=[]
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [46]:
# list comprehension
out = [num**2 for num in x]

[1, 4, 9, 16]

### function

In [47]:
def my_func(param1):
    print(param1)

In [48]:
my_func('hello')

hello

In [57]:

#Documentation String!
def my_func(name = 'Jolin'):
    """
    THIS FUNCTION DISPLAY A NAME
    """
    print('Hello ' + name)

In [52]:
my_func('Joey')

Hello Joey

In [53]:
my_func()

Hello Jolin

In [54]:
def square(num):
    return num**2

In [55]:
output = square(2)

In [56]:
print(output)

4

In [58]:
my_func

In [ ]:
range   # Push shift+ tab to check the documentation string